// 主题定制
// 颜色定义规范
// 背景颜色
$color-background = #fff
// header和底部player颜色
$color-tools-background=#31c27c
// 歌手那块滚动条
$color-background-d = rgba(0, 0, 0, 0.3)
// 歌手那块字母分块及高亮部分
$color-highlight-background = #fff

// $color-dialog-background = red
// 被选中的tab颜色
$color-theme = #177d7f
// 滚动条的进度颜色
$color-theme-d = rgba(255, 205, 49, 0.59)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(0, 0, 0, 0.83)
$color-text-l = rgba(0, 0, 0, 0.7)
$color-text-ll = #31c27c

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 17px
$font-size-large = 18px
$font-size-large-x = 22px